@import "tailwindcss";

@theme {
  /* Colors */
  --color-white: oklch(1 0 0);
  --color-black: oklch(0.25 0.03 264.8);
  --color-primary: oklch(0.65 0.23 31.8);
  --color-secondary: oklch(0.5 0.16 144.5);
  --color-text-primary: oklch(0.27 0.02 80);
  --color-main: oklch(0.86 0.07 69.1);

  /* Other theme options can be added here */
  --ease-default: cubic-bezier(0.2, 0, 0, 1);
}

/* Load the scrollbar plugin */
@plugin "tailwind-scrollbar";
/* You can add other global styles below */

body {
  font-family:
    "Baumans",
    "Cabin",
    "Oswald",
    "Rubik Variable",
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}
