---
import type { Icon } from "@/config/landing.interface";
import CheckIcon from "@/icons/commons/CheckIcon.astro";
import ConfigIcon from "@/icons/commons/ConfigIcon.astro";
import DevIcon from "@/icons/commons/DevIcon.astro";
import FileIcon from "@/icons/commons/FileIcon.astro";
import PlanetIcon from "@/icons/commons/PlanetIcon.astro";
import ToolboxIcon from "@/icons/commons/ToolboxIcon.astro";
import ChiselIcon from "@/icons/dividers/ChiselIcon.astro";
import ChiselAndHammerIcon from "@/icons/dividers/ChiselAndHammerIcon.astro";
import RulerIcon from "@/icons/commons/RulerIcon.astro";

interface Props {
  icon: Icon;
  class?: string;
}

const { icon, class: className } = Astro.props;

const icons = [
  ConfigIcon,
  DevIcon,
  FileIcon,
  PlanetIcon,
  CheckIcon,
  ToolboxIcon,
  RulerIcon,
  ChiselIcon,
  ChiselAndHammerIcon,
];

let figures: Record<string, (_props: Record<string, unknown>) => unknown> = {};

icons.map((item) => {
  figures[item.name] = item;
});

const Figure = figures[icon];
---

{Figure ? <Figure class:list={[className]} /> : <p>Icon not found</p>}
