---
import { getEntry } from "astro:content";
import TitleHeader from "../components/ui/TitleHeader.astro";
import MasonryGallery from "../components/MasonryGallery.astro";
import { Image } from "astro:assets";

const galleryData = await getEntry("work", "config");
const title = galleryData.data.title;
const entries = galleryData.data.entries;
const cover = galleryData.data.cover;
---

<section class="relative mx-auto h-full w-full px-4 md:px-12 space-y-8">
    <TitleHeader text={title} subheader="01" />

    <div class="relative z-10">
        <MasonryGallery entries={entries} />
    </div>

    <div class="absolute right-0 top-0 h-full">
        <Image
            src={cover.src}
            alt={cover.alt}
            class="h-full w-full object-cover opacity-10"
        />
    </div>
</section>
