---
// src/pages/contact/index.astro
import Layout from "../../layouts/Layout.astro";

const pageTitle = "Contact";
const pageDescription = "Get in contact with Timmerman Daan";
---

<Layout title={pageTitle} description={pageDescription}>
    <div class="space-y-12"></div>
</Layout>
