---

---

<div
  class="relative w-screen h-screen bg-gray-200 flex justify-center items-center">
  <div class="absolute top-0 left-0 w-1/2 h-full bg-red-600"></div>

  <div
    class="absolute w-96 h-96 bg-white rounded-full overflow-hidden flex justify-center items-center">
    <img
      src="images/gallery/DSCF3169.JPG"
      alt="Portret Daan"
      class="object-cover w-full h-full grayscale"
    />
  </div>

  <div class="absolute top-10 left-10 w-80 h-80 bg-black opacity-30 rotate-30">
  </div>

  <!-- <img
    src="path-to-diver-image.png"
    alt="Diver"
    class="absolute top-1/4 right-1/4 w-20 rotate-12"
  /> -->

  <div class="absolute top-0 right-1/4 w-6 h-48 bg-black"></div>

  <div class="absolute right-4 bottom-10 space-y-1">
    <div class="w-8 h-0.5 bg-black"></div>
    <div class="w-8 h-0.5 bg-black"></div>
    <div class="w-8 h-0.5 bg-black"></div>
    <div class="w-8 h-0.5 bg-black"></div>
  </div>
</div>
