---
import Action from "@/components/Action.astro";
import Icon from "@/components/Icon.astro";
import type { HeaderData, Icon as IconType } from "@/config/landing.interface";

interface Props {
    data: HeaderData;
}
const { data } = Astro.props;
---

<header
    id="navbar"
    class="fixed top-0 z-50 items-center text-white fill-white justify-center w-full h-20 transition duration-300 bg-transparent rounded-b-lg">
    <nav aria-label="Main Navigation" class="flex items-center justify-between h-full px-4 py-4 md:px-20">
        <!-- Logo -->
        <div class="flex justify-center items-center">
            <Action
                as="a"
                class="flex text-center font-bold justify-center items-center gap-x-2 text-2xl md:gap-x-6 md:text-5xl"
                href="#">
                <img src={data.logoImage} alt="Daan Hering - Timmerman" class="h-14 md:h-16" />
                {data.logo}
            </Action>
        </div>

        <!-- Hamburger Icon for Mobile -->
        <button id="menu-toggle" class="flex items-center justify-center w-10 h-10 rounded-md md:hidden">
            <span class="sr-only">Open Menu</span>
            <Icon icon={data.menuIcon as IconType} />
        </button>

        <!-- Full-Screen Navigation Menu -->
        <div
            id="menu"
            class="fixed inset-0 z-40 flex flex-col items-center justify-center bg-main transform -translate-y-full transition-transform duration-300 ease-in-out text-black md:static md: text-inherit md:transform-none md:flex md:flex-row md:bg-transparent md:w-auto md:gap-x-14">
            <!-- Close Button for Mobile -->
            <button id="menu-close" class="absolute top-4 right-4 text-2xl font-bold md:hidden">
                <Icon class="w-12 h-12" icon="ChiselAndHammerIcon" />
            </button>

            <!-- Navigation Links -->
            <ul
                class="flex flex-col items-center justify-between font-bold text-4xl text-black md:text-current md:text-xl md:flex-row md:gap-x-12 md:gap-y-6">
                {
                    data.links.map((item) => (
                        <li class="py-4 hover:scale-110 hover:opacity-80">
                            <Action as="a" href={item.href}>
                                {item.label}
                            </Action>
                        </li>
                    ))
                }
            </ul>
        </div>
    </nav>
</header>

<script>
    const toggleMenu = () => {
        const menu = document.getElementById("menu");
        const body = document.body; // Get the body element

        if (menu) {
            menu.classList.toggle("-translate-y-full");
            menu.classList.toggle("translate-y-0");

            // Lock/unlock the body scroll
            if (menu.classList.contains("translate-y-0")) {
                body.classList.add("overflow-hidden");
            } else {
                body.classList.remove("overflow-hidden");
            }
        }
    };

    const menuToggle = document.getElementById("menu-toggle");
    const menuClose = document.getElementById("menu-close");

    menuToggle?.addEventListener("click", toggleMenu);
    menuClose?.addEventListener("click", toggleMenu);

    window.addEventListener("scroll", () => {
        const navbar = document.getElementById("navbar");
        if (!navbar) return;

        if (window.scrollY > 50) {
            navbar.classList.remove("bg-transparent", "text-white", "fill-white");
            navbar.classList.add("bg-white", "fill-black", "text-black", "shadow", "opacity-95");
        } else {
            navbar.classList.remove("bg-white", "fill-black", "text-black", "shadow", "opacity-95");
            navbar.classList.add("bg-transparent", "text-white", "fill-white");
        }
    });
</script>
