---
import type { GalleryData } from "@/config/landing.interface";
import Gallery from "@/components/Gallery.astro";
import SectionTitle from "@/components/SectionTitle.astro";

interface Props {
  sectionId: string;

  // data: GalleryData;
}

const { sectionId } = Astro.props;
---

<section id={sectionId}>
  <!-- <SectionTitle>{data.title}</SectionTitle> -->
  <div class="bg-beige p-8">
    <!-- First Header with Top Red Line -->
    <h1 class="relative text-4xl font-bold uppercase tracking-tight">
      <span class="inline-block relative">
        <span class="absolute top-0 left-0 w-full h-1 bg-red-600"></span>
        <span class="text-black">Freie</span>
      </span>
      <br />
      <span class="inline-block relative mt-2">
        <span class="absolute top-0 left-0 w-full h-1 bg-red-600"></span>
        <span class="text-black">Arbeiten</span>
      </span>
    </h1>

    <!-- Subheader with Top Red Line -->
    <p class="mt-4 text-lg font-bold">
      <span class="relative inline-block">
        <span class="absolute top-0 left-0 w-full h-1 bg-red-600"></span>
        <span class="text-black">Meister, Gesellen</span>
        <span class="text-black"> und </span>
        <span class="font-bold text-black">Lehrlinge</span>
      </span>
    </p>
  </div>
</section>
