---
import Background from "@/components/Background.astro";
import type { Meta } from "@/config/landing.interface";
import "@fontsource-variable/rubik";
import "@fontsource/baumans";

import "../styles/global.css";

interface Props {
  meta: Meta;
}

const { meta } = Astro.props;

const ldJson = JSON.stringify(meta.ldJson);
---

<!doctype html>
<html
  class="scrollbar-thin scrollbar-thumb-black scrollbar-track-transparent scroll-smooth"
  lang={meta.lang ?? "en"}>
  <head>
    <meta charset={meta.charset ?? "UTF-8"} />
    <title>{meta.title}</title>
    <meta name="description" content={meta.description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Oswald:wght@200..700&display=swap"
      rel="stylesheet"
    />

    <link rel="icon" type="image/jpeg" href="/favicon.jpeg" />
    <link rel="canonical" href={import.meta.env.SITE} />
    <script type="application/ld+json" set:html={ldJson} />
  </head>
  <body class="bg-main">
    <!-- <Background /> -->
    <slot />
  </body>
</html>
